body {
  background-color: black;
  margin: 0px;
  padding: 0px;
}

.cover {
  position: absolute;
  height: 0px;
  width: 0px;
}

.cover.top {
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-bottom: 150px solid transparent;
  border-top: 150px solid #fcd67e;
  transform-origin: top;
}

.cover.bottom.right {
  border-left: 200px solid transparent;
  border-right: 200px solid #fccc5b;
  border-bottom: 150px solid #fccc5b;
  border-top: 150px solid transparent;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.cover.left {
  border-left: 200px solid #fdd371;
  border-right: 200px solid transparent;
  border-bottom: 150px solid transparent;
  border-top: 150px solid transparent;
  border-bottom-left-radius: 10px;
}

.envelope {
  position: relative;
  width: 400px;
  height: 300px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  top: 200px;
  background-color: #fcd67e;
}

.letter {
  background-color: #f1ecc9;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  font-family: 'kalam', cursive;
}

/* CSS Override 
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  &:before, &:after {
    box-sizing: border-box;
  }
}

html, body {
  height: 100%;
  background: white;
  overflow: hidden;
  color: solid;
  font-family: cursive;
  font-size: 18px;

}

#invitation {
  background-color: bisque;
  margin: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background-color: rgba(#000, 0.5);
  width: 100%;
  max-width: 600px;
  padding: 5px;
  border: 2px solid gold;
  &:before, &:after {
    content: "•";
    position: absolute;
    width: 14px;
    height: 14px;
    font-size: 14px;
    color: gold;
    border: 2px solid gold;
    line-height: 12px;
    top: 5px;
    text-align: center;
  }
  &:before {
    left: 5px;
  }
  &:after {
    right: 5px;
  }
  .box-inner {
    position: relative;
    border: 2px solid gold ;
    padding: 40px;
    &:before, &:after {
      content: "•";
      position: absolute;
      width: 14px;
      height: 14px;
      font-size: 14px;
      color: gold;
      border: 2px solid gold;
      line-height: 12px;
      bottom: -2px;
      text-align: center;
    }
    &:before {
      left: -2px;
    }
    &:after {
      right: -2px;
    }
  }
}*/